body{
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

section{
    padding: 1rem;
    position: relative;
}

input{
    width: 95%;
    padding: 2.5%;
    margin-top: .25rem;
    margin-bottom: 1rem;
}

button{
    width: 100%;
    padding: 2.5%;
}
