@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@400;700&family=Big+Shoulders+Display&family=Chivo+Mono:ital,wght@0,200;0,300;0,500;1,700&family=Fraunces:opsz,wght@9..144,500&family=Josefin+Sans:wght@100;300;400&family=Karla:ital,wght@0,300;1,200&family=Kumbh+Sans&family=League+Spartan:wght@100&family=Lexend+Deca:wght@300&family=Libre+Franklin:wght@100;400;600&family=Manrope:wght@300;500;700&family=Martian+Mono:wght@200;500&family=Montserrat:wght@100&family=Open+Sans&family=Outfit:wght@100;300&family=Overpass:wght@100;400;700&family=Poppins:wght@400;600&family=Raleway:wght@200&family=Red+Hat+Display&family=Roboto+Mono:wght@300;600&family=Roboto:wght@100;300;400&family=Rubik:wght@300;400;600;700&family=Space+Grotesk:wght@300;500&family=Space+Mono&family=Ubuntu:wght@300;400;700&display=swap');

:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);  
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

body {
    margin: 0;
    padding: 1rem;
    font-family: 'Manrope';
    background-color: var(--Dark-Blue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--Dark-Grayish-Blue);
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    max-width: 500px;
}

h1 {
    color: var(--Neon-Green);
    margin: 1rem;
    letter-spacing: 2px;
    font-size: .75rem;
    text-transform: uppercase;
}

p {
    font-size: 1.25rem;
    color: var(--Light-Cyan);
}

button {
    background: none;
    border: none;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: var(--Neon-Green);
    border-radius: 50%;
    display: flex;
    align-items: center;
}


button:hover {
    box-shadow: 0 0 10px 5px var(--Neon-Green);
}